extends layout

block content
  h1 #{title}: #{kitInstance._id}
  p Team: #{kitInstance.kit.team.name}

  
    p Do you really want to delete this Instance?

    form(method='POST' action='')
        div.form-group
        input#instanceid.form-control(type='hidden',name='instanceid', required='true', value=kitInstance._id )

        button.btn.btn-primary(type='submit') Delete
